<div class="col-md-2">
    <div class="sidebar content-box" style="display: block; color: blue;">
        <ul class="nav">
            <!-- Main menu -->
            <li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i>Home Page</a></li>
            <li><a href="calendar.html"><i class="glyphicon glyphicon-folder-open"></i>Categories</a></li>
            <li><a href="stats.html"><i class="glyphicon glyphicon-cloud"></i> Applications</a></li>
            <li><a href="tables.html"><i class="glyphicon glyphicon-user"></i>Users</a></li>
        </ul>
    </div>
</div>
